
@{
    ViewBag.Title = "RegisterEmployees";
}

<h2>RegisterEmployees</h2>

@Html.Raw(ViewBag.Message)

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <input type="submit" value="Update" class="btn btn-default"/>
}

