
@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <title>Dills Electric</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/public_site.css">
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <p class="navbar-brand text-center"><i class="fa fa-bolt" aria-hidden="true"></i> Dill's Electric</p>
                <p class="navbar-phone text-center">434.534.4356</p>
            </div>

            <ul class="nav navbar-nav navbar-right" id="bs-example-navbar-collapse-1">
                <li><a href="#about">About Us</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#completed-projects">Completed Projects</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    <div class="main">

        <div class="service-container" id="about">
            <h2 class="text-center">About Us</h2>
            <hr>
            <p>We have over 15 years of experience offering the Lynchburg, Campbell, Bedford and Appomattox areas with residential and commercial wiring expertise.  We strive to offer the perfect balance of great service and low cost.  Whether you are a home owner or contractor, we aim to deliver excellent customer service and to continue earning your business.</p>
        </div>

        <div class="text-center service-container" id="services">
            <h2>Services</h2>
            <hr>
            <div class="row">
                <div class="col-md-4 info">
                    <h3>
                        <i class="fa fa-home" aria-hidden="true"></i> New Construction / Remodels</h3>
                        <p style="text-align:left">Whether you are building your dream home, "spec houses", or custom homes: we want your business!  We offer flexible pricing to fit any budget and we complete our work on schedule so that you can complete your project on time!</p>
                </div>
                <div class="col-md-4 info">
                    <h3>
                        <i class="fa fa-wrench" aria-hidden="true"></i> Service</h3>
                        <p style="text-align:left">Do you have old wiring, rusted eletrical components or an older house that is under powered?  Let us inspect!  We are more than glad to look at your project.  We will give an honest opinion and if we recommend any service work we will do our best to meet your budget.</p>
                </div>
                <div class="col-md-4 info">
                    <h3>
                        <i class="fa fa-university" aria-hidden="true"></i> Commercial</h3>
                        <p style="text-align:left">If your business is building, remodeling or adding new devices, we have the experience you need.  Let us know what you need and we will thoroughly nalyze what you already have so that we can offer you the most efficient solution.</p>
                </div>
            </div>
        </div>

        <div class="service-container" id="completed-projects">
            <div class="text-center"><h2>Completed Projects</h2></div>
            <hr>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <img src="~/Images/IMG_0226.jpg" class="thumbnail shrink">
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <img src="~/Images/IMG_0227.jpg" class="thumbnail shrink">
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <img src="~/Images/IMG_0228.jpg" class="thumbnail shrink">
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <img src="~/Images/IMG_0229.jpg" class="thumbnail shrink">
                </div>
            </div>
        </div>

    </div>

    <div class="footer">
        <div class="footer-container">
            <div class="large-box">
                    <footer>
                        <p>Dill's Electric &copy; @DateTime.Now.Year</p>
                    </footer>
            </div>
            <div class="small-box">
                <div class="text-center"><h3>Contact</h3></div>
                <hr />
                <p><i class="fa fa-phone" aria-hidden="true"></i> (434) 534-4356</p>
                <p><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:info@dillselectric.com">info@dillselectric.com</a></p>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
