@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>Beginning Balance</th>
    </tr>
    <tr>
        <td data-bind="currency: beginningBalance"></td>
    </tr>
</table>
<h3>Cashflow Schedule</h3>
<table class="table">
    <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Amount</th>
        <th>*</th>
        <th>Balance</th>
        <th>Ignore</th>
        <th></th>
    </tr>

    <tbody data-bind="foreach: transactions">
    <tr class='transaction'>
        <td data-bind="date: Date"></td>
        <td data-bind="text: Contact"></td>
        <td class='amount' data-bind="currency: Amount, style: { color: (Amount > 0) ? 'green' : 'red' }"></td>
        <td>|</td>
        <td data-bind="attr: {id: 'balance_' + $index()}"></td>
        <td><input name="ignore" type="checkbox" data-bind="attr: {id: 'ignore_' + $index()}"></td>
    </tr>
    </tbody>
</table>

@section scripts {
    <script src="../../Scripts/knockout-3.3.0.js"></script>
    <script src="../../Scripts/cashflow.js"></script>
}

